---
import { SITE, LINKS } from "@consts"
import { cn } from "@lib/utils"
const { pathname } = Astro.url
const subpath = pathname.match(/[^/]+/g)
---

<!-- Drawer component is now empty since we display all navigation as tabs in the header -->
<div id="drawer" class="hidden"></div>

<style>
/* Keeping minimal styles for compatibility in case there are references to the drawer elsewhere */
#drawer {
  display: none;
}
</style>

<script is:inline>
// Empty script to maintain compatibility
</script>